<div class="mb-3 mt-5">
    <div class="row w-100">
        <div class="col-4">
            <ul>
                <li class="border-bottom"><h3><a pageScroll href="#general-info-section">General Informations</a></h3></li>
                <li class="border-bottom"><h3><a pageScroll href="#email-section">Change Email</a></h3></li>
                <li class="border-bottom"><h3><a pageScroll href="#password-section">Reste Password</a></h3></li>
            </ul>
        </div>
        <div class="col-8">
            <div id="general-info-section" class="p-5">
                <app-general-information-section [user]="user" (submitGeneralInfoEvent)="listenToInformationChanges($event)"></app-general-information-section>
            </div>
            <div id="email-section" class="email-section p-5">
                <app-email-section [user]="user" (emailChangeEvent)="listenToInformationChanges($event)"></app-email-section>
            </div>
            <div id="password-section" class="p-5">
                <app-password-section></app-password-section>
            </div>
        </div>
    </div>
</div>