<app-addproduct _nghost-jht-c11="" class="ng-star-inserted"><div _ngcontent-jht-c11="" class="wrapper">
    <div _ngcontent-jht-c11="" class="main">
        <div _ngcontent-jht-c11="" class="section">
            <div _ngcontent-jht-c11="" class="container">
                <h3 _ngcontent-jht-c11="">Add Product</h3>
                <form _ngcontent-jht-c11="" novalidate="" class="ng-untouched ng-pristine ng-valid">
                    <div _ngcontent-jht-c11="" class="row"><div _ngcontent-jht-c11="" class="col-md-5 col-sm-5">
                        <h6 _ngcontent-jht-c11="">Product Image</h6>
                        <div _ngcontent-jht-c11="" _nghost-jht-c10="">
                            <div _ngcontent-jht-c10="" class="fileinput fileinput-new text-center">
                                <div _ngcontent-jht-c10="" class="thumbnail img-no-padding">
                                    <img _ngcontent-jht-c10="" alt="..." src="./assets/img/image_placeholder.jpg">
                                </div>
                                <div _ngcontent-jht-c10=""><!---->
                                    <button _ngcontent-jht-c10="" class="btn btn-outline-default btn-file btn-round ng-star-inserted">
                                        Select image
                                    </button><!----><!---->
                                </div>
                            </div>
                        </div>
                        <h6 _ngcontent-jht-c11="">
                            Tags
                        </h6>
                        <tag-input _ngcontent-jht-c11="" name="tagItems" theme="regular-theme" _nghost-jht-c12="" class="ng-tns-c12-0 ng-untouched ng-pristine ng-valid" tabindex="">
                            <div _ngcontent-jht-c12="" class="ng2-tag-input regular-theme" tabindex="-1">
                                <div _ngcontent-jht-c12="" class="ng2-tags-container"><!---->
                                    <tag _ngcontent-jht-c12="" _nghost-jht-c13="" class="ng-tns-c12-0 ng-trigger ng-trigger-animation ng-star-inserted" draggable="false" tabindex="0" style="opacity: 1;">
                                        <div _ngcontent-jht-c13="" tabindex="-1" aria-label="Minimal"><!----><!---->
                                            <div _ngcontent-jht-c13="" class="tag-wrapper ng-star-inserted" style="">
                                                <div _ngcontent-jht-c13="" class="tag__text inline" spellcheck="false" contenteditable="false" title="Minimal">
                                                    Minimal
                                                </div><!---->
                                                <delete-icon _ngcontent-jht-c13="" aria-label="Remove tag" role="button" _nghost-jht-c15="" class="ng-star-inserted">
                                                    <span _ngcontent-jht-c15="">
                                                        <svg _ngcontent-jht-c15="" height="16px" viewBox="0 0 32 32" width="16px">
                                                            <path _ngcontent-jht-c15="" d="M17.459,16.014l8.239-8.194c0.395-0.391,0.395-1.024,0-1.414c-0.394-0.391-1.034-0.391-1.428,0  l-8.232,8.187L7.73,6.284c-0.394-0.395-1.034-0.395-1.428,0c-0.394,0.396-0.394,1.037,0,1.432l8.302,8.303l-8.332,8.286  c-0.394,0.391-0.394,1.024,0,1.414c0.394,0.391,1.034,0.391,1.428,0l8.325-8.279l8.275,8.276c0.394,0.395,1.034,0.395,1.428,0  c0.394-0.396,0.394-1.037,0-1.432L17.459,16.014z" fill="#121313">
                                                            </path>
                                                        </svg>
                                                    </span>
                                                </delete-icon>
                                            </div>
                                        </div><!---->
                                        <tag-ripple _ngcontent-jht-c13="" _nghost-jht-c16="" class="ng-tns-c16-2 ng-star-inserted" tabindex="-1" style="">
                                            <div _ngcontent-jht-c16="" class="tag-ripple ng-trigger ng-trigger-ink" style="width: 0px; opacity: 0;">
                                            </div>
                                        </tag-ripple>
                                    </tag>
                                    <tag _ngcontent-jht-c12="" _nghost-jht-c13="" class="ng-tns-c12-0 ng-trigger ng-trigger-animation ng-star-inserted" draggable="false" tabindex="0" style="opacity: 1;">
                                        <div _ngcontent-jht-c13="" tabindex="-1" aria-label="Light"><!----><!---->
                                            <div _ngcontent-jht-c13="" class="tag-wrapper ng-star-inserted" style="">
                                                <div _ngcontent-jht-c13="" class="tag__text inline" spellcheck="false" contenteditable="false" title="Light">
                                                    Light
                                                </div><!---->
                                                <delete-icon _ngcontent-jht-c13="" aria-label="Remove tag" role="button" _nghost-jht-c15="" class="ng-star-inserted">
                                                    <span _ngcontent-jht-c15="">
                                                        <svg _ngcontent-jht-c15="" height="16px" viewBox="0 0 32 32" width="16px">
                                                            <path _ngcontent-jht-c15="" d="M17.459,16.014l8.239-8.194c0.395-0.391,0.395-1.024,0-1.414c-0.394-0.391-1.034-0.391-1.428,0  l-8.232,8.187L7.73,6.284c-0.394-0.395-1.034-0.395-1.428,0c-0.394,0.396-0.394,1.037,0,1.432l8.302,8.303l-8.332,8.286  c-0.394,0.391-0.394,1.024,0,1.414c0.394,0.391,1.034,0.391,1.428,0l8.325-8.279l8.275,8.276c0.394,0.395,1.034,0.395,1.428,0  c0.394-0.396,0.394-1.037,0-1.432L17.459,16.014z" fill="#121313">
                                                            </path>
                                                        </svg>
                                                    </span>
                                                </delete-icon>
                                            </div>
                                        </div><!---->
                                        <tag-ripple _ngcontent-jht-c13="" _nghost-jht-c16="" class="ng-tns-c16-3 ng-star-inserted" tabindex="-1" style="">
                                            <div _ngcontent-jht-c16="" class="tag-ripple ng-trigger ng-trigger-ink" style="width: 0px; opacity: 0;">

                                            </div>
                                        </tag-ripple>
                                    </tag>
                                    <tag _ngcontent-jht-c12="" _nghost-jht-c13="" class="ng-tns-c12-0 ng-trigger ng-trigger-animation ng-star-inserted" draggable="false" tabindex="0" style="opacity: 1;">
                                        <div _ngcontent-jht-c13="" tabindex="-1" aria-label="New"><!----><!---->
                                            <div _ngcontent-jht-c13="" class="tag-wrapper ng-star-inserted" style="">
                                                <div _ngcontent-jht-c13="" class="tag__text inline" spellcheck="false" contenteditable="false" title="New">
                                                    New
                                                </div><!---->
                                                <delete-icon _ngcontent-jht-c13="" aria-label="Remove tag" role="button" _nghost-jht-c15="" class="ng-star-inserted">
                                                    <span _ngcontent-jht-c15="">
                                                        <svg _ngcontent-jht-c15="" height="16px" viewBox="0 0 32 32" width="16px">
                                                            <path _ngcontent-jht-c15="" d="M17.459,16.014l8.239-8.194c0.395-0.391,0.395-1.024,0-1.414c-0.394-0.391-1.034-0.391-1.428,0  l-8.232,8.187L7.73,6.284c-0.394-0.395-1.034-0.395-1.428,0c-0.394,0.396-0.394,1.037,0,1.432l8.302,8.303l-8.332,8.286  c-0.394,0.391-0.394,1.024,0,1.414c0.394,0.391,1.034,0.391,1.428,0l8.325-8.279l8.275,8.276c0.394,0.395,1.034,0.395,1.428,0  c0.394-0.396,0.394-1.037,0-1.432L17.459,16.014z" fill="#121313">
                                                            </path>
                                                        </svg>
                                                    </span>
                                                </delete-icon>
                                            </div>
                                        </div><!---->
                                        <tag-ripple _ngcontent-jht-c13="" _nghost-jht-c16="" class="ng-tns-c16-4 ng-star-inserted" tabindex="-1" style="">
                                            <div _ngcontent-jht-c16="" class="tag-ripple ng-trigger ng-trigger-ink" style="width: 0px; opacity: 0;">
                                            </div>
                                        </tag-ripple>
                                    </tag>
                                    <tag _ngcontent-jht-c12="" _nghost-jht-c13="" class="ng-tns-c12-0 ng-trigger ng-trigger-animation ng-star-inserted" draggable="false" tabindex="0" style="opacity: 1;">
                                        <div _ngcontent-jht-c13="" tabindex="-1" aria-label="Friends"><!----><!---->
                                            <div _ngcontent-jht-c13="" class="tag-wrapper ng-star-inserted" style="">
                                                <div _ngcontent-jht-c13="" class="tag__text inline" spellcheck="false" contenteditable="false" title="Friends">
                                                    Friends
                                                </div><!---->
                                                <delete-icon _ngcontent-jht-c13="" aria-label="Remove tag" role="button" _nghost-jht-c15="" class="ng-star-inserted">
                                                    <span _ngcontent-jht-c15="">
                                                        <svg _ngcontent-jht-c15="" height="16px" viewBox="0 0 32 32" width="16px">
                                                            <path _ngcontent-jht-c15="" d="M17.459,16.014l8.239-8.194c0.395-0.391,0.395-1.024,0-1.414c-0.394-0.391-1.034-0.391-1.428,0  l-8.232,8.187L7.73,6.284c-0.394-0.395-1.034-0.395-1.428,0c-0.394,0.396-0.394,1.037,0,1.432l8.302,8.303l-8.332,8.286  c-0.394,0.391-0.394,1.024,0,1.414c0.394,0.391,1.034,0.391,1.428,0l8.325-8.279l8.275,8.276c0.394,0.395,1.034,0.395,1.428,0  c0.394-0.396,0.394-1.037,0-1.432L17.459,16.014z" fill="#121313">

                                                            </path>
                                                        </svg>
                                                    </span>
                                                </delete-icon>
                                            </div>
                                        </div><!---->
                                        <tag-ripple _ngcontent-jht-c13="" _nghost-jht-c16="" class="ng-tns-c16-5 ng-star-inserted" tabindex="-1" style=""><div _ngcontent-jht-c16="" class="tag-ripple ng-trigger ng-trigger-ink" style="width: 0px; opacity: 0;">

                                        </div>
                                        </tag-ripple>
                                    </tag>
                                    <tag-input-form _ngcontent-jht-c12="" class="ng-tns-c12-0" _nghost-jht-c14="">
                                        <form _ngcontent-jht-c14="" novalidate="" class="ng-untouched ng-pristine ng-valid">
                                            <input _ngcontent-jht-c14="" autocomplete="off" class="ng2-tag-input__text-input ng-untouched ng-pristine ng-valid" formcontrolname="item" minlength="1" type="text" tabindex="" placeholder="+ Tag" aria-label="+ Tag">
                                        </form>
                                    </tag-input-form>
                                </div><!---->
                            </div><!---->
                        </tag-input>
                        <h6 _ngcontent-jht-c11="">
                            Categories
                        </h6>
                        <tag-input _ngcontent-jht-c11="" name="categories" theme="regular-theme" _nghost-jht-c12="" class="ng-tns-c12-1 ng-untouched ng-pristine ng-valid" tabindex=""><div _ngcontent-jht-c12="" class="ng2-tag-input regular-theme" tabindex="-1">
                            <div _ngcontent-jht-c12="" class="ng2-tags-container"><!---->
                                <tag _ngcontent-jht-c12="" _nghost-jht-c13="" class="ng-tns-c12-1 ng-trigger ng-trigger-animation ng-star-inserted" draggable="false" tabindex="0" style="opacity: 1;">
                                    <div _ngcontent-jht-c13="" tabindex="-1" aria-label="Food"><!----><!---->
                                        <div _ngcontent-jht-c13="" class="tag-wrapper ng-star-inserted" style="">
                                            <div _ngcontent-jht-c13="" class="tag__text inline" spellcheck="false" contenteditable="false" title="Food">
                                                Food
                                            </div><!---->
                                            <delete-icon _ngcontent-jht-c13="" aria-label="Remove tag" role="button" _nghost-jht-c15="" class="ng-star-inserted">
                                                <span _ngcontent-jht-c15="">
                                                    <svg _ngcontent-jht-c15="" height="16px" viewBox="0 0 32 32" width="16px">
                                                        <path _ngcontent-jht-c15="" d="M17.459,16.014l8.239-8.194c0.395-0.391,0.395-1.024,0-1.414c-0.394-0.391-1.034-0.391-1.428,0  l-8.232,8.187L7.73,6.284c-0.394-0.395-1.034-0.395-1.428,0c-0.394,0.396-0.394,1.037,0,1.432l8.302,8.303l-8.332,8.286  c-0.394,0.391-0.394,1.024,0,1.414c0.394,0.391,1.034,0.391,1.428,0l8.325-8.279l8.275,8.276c0.394,0.395,1.034,0.395,1.428,0  c0.394-0.396,0.394-1.037,0-1.432L17.459,16.014z" fill="#121313">
                                                        </path>
                                                    </svg>
                                                </span>
                                            </delete-icon>
                                        </div>
                                    </div><!---->
                                    <tag-ripple _ngcontent-jht-c13="" _nghost-jht-c16="" class="ng-tns-c16-6 ng-star-inserted" tabindex="-1" style="">
                                        <div _ngcontent-jht-c16="" class="tag-ripple ng-trigger ng-trigger-ink" style="width: 0px; opacity: 0;">
                                        </div>
                                    </tag-ripple>
                                </tag>
                                <tag _ngcontent-jht-c12="" _nghost-jht-c13="" class="ng-tns-c12-1 ng-trigger ng-trigger-animation ng-star-inserted" draggable="false" tabindex="0" style="opacity: 1;">
                                    <div _ngcontent-jht-c13="" tabindex="-1" aria-label="Drink"><!----><!---->
                                        <div _ngcontent-jht-c13="" class="tag-wrapper ng-star-inserted" style="">
                                            <div _ngcontent-jht-c13="" class="tag__text inline" spellcheck="false" contenteditable="false" title="Drink">
                                                Drink
                                            </div><!---->
                                            <delete-icon _ngcontent-jht-c13="" aria-label="Remove tag" role="button" _nghost-jht-c15="" class="ng-star-inserted">
                                                <span _ngcontent-jht-c15="">
                                                    <svg _ngcontent-jht-c15="" height="16px" viewBox="0 0 32 32" width="16px">
                                                        <path _ngcontent-jht-c15="" d="M17.459,16.014l8.239-8.194c0.395-0.391,0.395-1.024,0-1.414c-0.394-0.391-1.034-0.391-1.428,0  l-8.232,8.187L7.73,6.284c-0.394-0.395-1.034-0.395-1.428,0c-0.394,0.396-0.394,1.037,0,1.432l8.302,8.303l-8.332,8.286  c-0.394,0.391-0.394,1.024,0,1.414c0.394,0.391,1.034,0.391,1.428,0l8.325-8.279l8.275,8.276c0.394,0.395,1.034,0.395,1.428,0  c0.394-0.396,0.394-1.037,0-1.432L17.459,16.014z" fill="#121313">
                                                        </path>
                                                    </svg>
                                                </span>
                                            </delete-icon>
                                        </div>
                                    </div><!---->
                                    <tag-ripple _ngcontent-jht-c13="" _nghost-jht-c16="" class="ng-tns-c16-7 ng-star-inserted" tabindex="-1" style="">
                                        <div _ngcontent-jht-c16="" class="tag-ripple ng-trigger ng-trigger-ink" style="width: 0px; opacity: 0;">

                                        </div>
                                    </tag-ripple>
                                </tag>
                                <tag-input-form _ngcontent-jht-c12="" class="ng-tns-c12-1" _nghost-jht-c14="">
                                    <form _ngcontent-jht-c14="" novalidate="" class="ng-untouched ng-pristine ng-valid">
                                        <input _ngcontent-jht-c14="" autocomplete="off" class="ng2-tag-input__text-input ng-untouched ng-pristine ng-valid" formcontrolname="item" minlength="1" type="text" tabindex="" placeholder="+ Tag" aria-label="+ Tag">
                                    </form>
                                </tag-input-form>
                            </div><!---->
                        </div><!---->
                        </tag-input>
                        <h6 _ngcontent-jht-c11="">
                            Format
                            <span _ngcontent-jht-c11="" class="icon-danger">
                                *
                            </span>
                        </h6>
                        <div _ngcontent-jht-c11="" class="form-check-radio">
                            <label _ngcontent-jht-c11="" class="form-check-label">
                                <input _ngcontent-jht-c11="" class="form-check-input" id="exampleRadios1" name="exampleRadios" type="radio" value="option1">
                                Digital
                                <span _ngcontent-jht-c11="" class="form-check-sign">

                                </span>
                            </label>
                        </div>
                        <div _ngcontent-jht-c11="" class="form-check-radio">
                            <label _ngcontent-jht-c11="" class="form-check-label">
                                <input _ngcontent-jht-c11="" checked="" class="form-check-input" id="exampleRadios2" name="exampleRadios" type="radio" value="option2">
                                Print
                                <span _ngcontent-jht-c11="" class="form-check-sign">

                                </span>
                            </label>
                        </div>
                    </div>
                        <div _ngcontent-jht-c11="" class="col-md-7 col-sm-7">
                            <div _ngcontent-jht-c11="" class="form-group"><h6 _ngcontent-jht-c11="">
                                Name
                                <span _ngcontent-jht-c11="" class="icon-danger">
                                    *
                                </span>
                            </h6>
                                <input _ngcontent-jht-c11="" class="form-control border-input" placeholder="enter the product name here..." type="text">
                            </div>
                            <div _ngcontent-jht-c11="" class="form-group">
                                <h6 _ngcontent-jht-c11="">
                                    Tagline
                                    <span _ngcontent-jht-c11="" class="icon-danger">
                                        *
                                    </span>
                                </h6>
                                <input _ngcontent-jht-c11="" class="form-control border-input" placeholder="enter the product tagline here..." type="text"></div><div _ngcontent-jht-c11="" class="row price-row">
                            <div _ngcontent-jht-c11="" class="col-md-6">
                                <h6 _ngcontent-jht-c11="">
                                    Price
                                    <span _ngcontent-jht-c11="" class="icon-danger">
                                        *
                                    </span>
                                </h6>
                                <div _ngcontent-jht-c11="" class="input-group border-input">
                                    <input _ngcontent-jht-c11="" class="form-control border-input" placeholder="enter price" type="text" value="">
                                    <div _ngcontent-jht-c11="" class="input-group-append">
                                        <span _ngcontent-jht-c11="" class="input-group-text">
                                            <i _ngcontent-jht-c11="" class="fa fa-euro">

                                            </i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div _ngcontent-jht-c11="" class="col-md-6">
                                <h6 _ngcontent-jht-c11="">
                                    Discount
                                </h6>
                                <div _ngcontent-jht-c11="" class="input-group border-input">
                                    <input _ngcontent-jht-c11="" class="form-control border-input" placeholder="enter discount" type="text" value="">
                                    <div _ngcontent-jht-c11="" class="input-group-append">
                                        <span _ngcontent-jht-c11="" class="input-group-text">
                                            %
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                            <div _ngcontent-jht-c11="" class="form-group"><h6 _ngcontent-jht-c11="">
                                Description
                            </h6>
                                <textarea _ngcontent-jht-c11="" class="form-control textarea-limited" maxlength="150" placeholder="This is a textarea limited to 150 characters." rows="13">
                                </textarea><h5 _ngcontent-jht-c11="">
                                    <small _ngcontent-jht-c11="">
                                        <span _ngcontent-jht-c11="" class="pull-right" id="textarea-limited-message">
                                            150 characters left
                                        </span>
                                    </small>
                                </h5>
                            </div>
                            <div _ngcontent-jht-c11="" class="form-check">
                                <label _ngcontent-jht-c11="" class="form-check-label">
                                    <input _ngcontent-jht-c11="" class="form-check-input" type="checkbox" value="">
                                    Display on landing page
                                    <span _ngcontent-jht-c11="" class="form-check-sign">
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div _ngcontent-jht-c11="" class="row buttons-row">
                        <div _ngcontent-jht-c11="" class="col-md-4 col-sm-4">
                            <button _ngcontent-jht-c11="" class="btn btn-outline-danger btn-block btn-round">
                                Cancel
                            </button>
                        </div>
                        <div _ngcontent-jht-c11="" class="col-md-4 col-sm-4">
                            <button _ngcontent-jht-c11="" class="btn btn-outline-primary btn-block btn-round">
                                Save
                            </button>
                        </div>
                        <div _ngcontent-jht-c11="" class="col-md-4 col-sm-4">
                            <button _ngcontent-jht-c11="" class="btn btn-primary btn-block btn-round">
                                Save &amp; Publish
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</app-addproduct>
