input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input.ng-invalid.ng-touched{
    border: red 1px solid;
}

input.custom-ng-invalid.ng-touched{
    border: red 1px solid;
}