<!-- <div class="bg-image">
    <div class="container positioning">
        <div class=" row justify-content-md-center ">
            <div class="col-md-5 card wrapping-card p-4">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div> -->

<div class="wrapper">
    <div class="page-header bg-image">
        <div class="filter"> 
        </div>
        <div class="container">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
