<h2 class="text-center my-4">Password Settings</h2>
<div *ngIf="errorMessage !== ''" class="alert alert-danger my-2 text-center">
    <div class="container">
        <i class="nc-bell-55 nc-icon"></i>
        {{ errorMessage }}
        <button type="button" class="close" (click)="removeMessage()">
            <i class="nc-icon nc-simple-remove"></i>
        </button>
    </div>
</div>
<div *ngIf="successMessage !== ''" class="alert alert-success my-2 text-center">
    <div class="container">
        <i class="nc-bell-55 nc-icon"></i>
        {{ successMessage }}
        <button type="button" class="close" (click)="removeMessage()">
            <i class="nc-icon nc-simple-remove"></i>
        </button>
    </div>
</div>
<div *ngIf="! passwordConfirmationCodeVisibility">
    <form [formGroup]="passwordForm" (ngSubmit)="submitPasswordChanges()">
        <div class="form-group">
            <label for="current-password">Current password: </label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="nc-icon nc-key-25"></i></span>
                </div>
                <input id="current-password" type="password" class="form-control" formControlName="currentPassword">
            </div>
            <div *ngIf="!getPasswordInput().valid && getPasswordInput().touched">
                <span style="color: red;">Invalid password</span>
            </div>
        </div>
        <div class="row">
            <div class="form-group w-40 col">
                <label for="new-password">New passord: </label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="nc-icon nc-key-25"></i></span>
                    </div>
                    <input id="new-password" type="password" class="form-control" formControlName="newPassword">
                </div>
                <div *ngIf="!getNewPasswordInput().valid && getNewPasswordInput().touched">
                    <span style="color: red;">Invalid new password</span>
                </div>
            </div>
            <div class="form-group w-40 col">
                <label for="confirm-password">Confirm password: </label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="nc-icon nc-key-25"></i></span>
                    </div>
                    <input id="confirm-password" type="password" [ngClass]="{ 'custom-ng-invalid': !passwordsMatching }"
                        class="form-control" formControlName="confirmPassword">
                </div>
                <div
                    *ngIf="(!getConfirmationPasswordInput().valid ||!passwordsMatching ) && getConfirmationPasswordInput().touched">
                    <span style="color: red;">invalid Password Confirmation</span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <input type="checkbox" class="mr-2" [checked]="passwordInformationConfirmationStatus"
                (click)="clickPasswordConfirmation()" id="password-confirmation">
            <label for="password-confirmation">Are you sure you want to submit these changes</label>
        </div>
        <button type="submit" [disabled]="passwordInformationDisabled"
            class="btn btn-success btn-round btn-lg">Change</button>
    </form>
</div>
<div id="code-confirmation" *ngIf="passwordConfirmationCodeVisibility">
    <h3>Almost there !</h3>
    <p>Check your Email for a verification code that you need to provide here</p>
    <p>Note that if you leave this page that code won't be helpful any more but the old password will be maintained</p>
    <form [formGroup]="verificationCodeForm" (ngSubmit)="submitVerification()">
        <div class="form-group">
            <label for="">Verification Code</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="nc-icon nc-key-25"></i></span>
                </div>
                <input type="number" class="ml-2 form-control-sm" formControlName="verificationCode">
            </div>
            <span class="text-danger" *ngIf="verificationCodeForm.invalid && verificationCodeForm.touched">
                please check your verification code
            </span>
        </div>
        <button type="submit" [disabled]="verificationCodeForm.invalid"
            class="btn btn-success btn-round btn-lg">Verify</button>
    </form>
</div>