




<div class="row">
    <div class="col-md-6 col-md-offset-3">
       

    </div>
    <div class="col-md-6 col-md-offset-3" style="padding: 20px;">
        <br><br><br>  <br><br>
     
        <h1  style="margin-bottom: 18px; ">Welcome to <span style="color: #c6000d;">WatchNear</span></h1>
        <p style='color:black'>WatchNear est un site web qui a pour but de donner plusieurs informations sur les salles de cinémas et les films pour aider les utilisateurs à choisir la salle qui leur semble la plus adéquate.


    ♦ Faire la personnalisation du profil de l'utilisateur (changement de photo de profil, d'email…)
    ♦ Effectuer une recherche d'un film pour ensuite acquérir les informations nécessaires pour y procéder.
    ♦ Consulter les informations nécessaires pour presque toutes les films qui sont déjà diffusés ou en cours de diffusion.
    ♦ Voir le Planning de chaque salle de cinéma pour chaque semaine ou en choisissant les dates.
    ♦ Contacter le support pour s'interroger sur le fonctionnement du site ou donner un avis.


        </p>

    </div>
</div>



<br><br>
<div id="contact-us">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h4>Contact Us</h4>
                    <div class="line-dec"></div>
                    <p>We are here to help and answer any question you might have. We look forward to hearing form you </p>
                    <div class="pop-button">
                        <h4 (click)='login()'>Send us a message</h4>
                    </div>
                </div>
            </div>
        </div>
        
       
    </div>
</div>

<app-footer></app-footer>