.content{
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main-header :hover{
    color: #36c22f;
    font-size: 7vh;
    cursor: pointer ;
}

.retry-link :hover{
    display: inline-block;
    cursor: pointer;
    color: #1a49b8;
    font-weight: 400;
    font-size: 6vh;
}