footer{
    background-color: black;
    margin-top: 100px;
}

.copyrights{
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 1.2em;
    font-style: bold;
}

.contact-us{
    background-color: #e1e3e1;

}