/* .signup-card::-webkit-scrollbar {
  width: 5px;
}

/* Track */
/* .signup-card::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
} */
 
/* Handle */
/* .signup-card::-webkit-scrollbar-thumb {
  background: #636e80; 
  border-radius: 10px;
} */

/* Handle on hover */
/* .signup-card::-webkit-scrollbar-thumb:hover {
  background: #353b45; 
} */

/* .signup-card{
  height : 70vh;
  overflow : hidden;
} */
/* .signup-card:hover{
  overflow-y : scroll
} */

input.ng-invalid.ng-touched{
    border : red solid 1px;
}


.centered-text {
  text-align: center;
}